main { 
    color: #fff;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 20%;
}

body {
    background-image: url("./images/netflix-backgroud.jpg");
    background-size: cover;
    height: 100vh;
    
}

.cabecalho {
    padding: 10px;
    display: flex;
    justify-content:space-between;
    
}

.cabecalho a {
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.logo-netflix {
    width: 120px;
    padding: 5px;
    
}
.insere-email {
    margin: 2% 0%;
    width: 60%;
    height: 40px;
    display: flex;
    justify-content:space-between;
}

.insere-email input {
    padding-left: 4%;
    width: 70%;
    border-radius: 5px;
}

.insere-email button {
    color: #fff;
    background-color: #ff0000;
    width: 18%;
    border-radius: 5px;
}