main {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 20%;
    font-family: Calibri, "Trebuchet MS", sans-serif;
}

.margem {
    margin: 1%;
}

.titulo1 {
    font-size: xx-large;
    font-weight: bold;
}

.titulo2 {
    font-size: x-large;
    font-weight: bold;
}

.titulo3 {
    font-size: medium;
}

body {
    background-image: url("./images/netflix-backgroud.jpg"),
        linear-gradient(to bottom, black, transparent 40%);
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}

.cabecalho {
    padding: 10px;

    display: flex;
    justify-content: space-between;
}

.cabecalho a {
    margin-right: 5%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cabecalho a button {
    background-color: #ff0000;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
    height: 25px;
}

.logo-netflix {
    width: 120px;
    padding: 5px;
}

.logo-netflix:hover {
    animation: balanco 3s ease infinite;
    cursor: pointer;
}

.insere-email form {
    margin: 2% 0%;
    width: 40rem;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.insere-email form input {
    padding-left: 4%;
    width: 70%;
    border-radius: 5px;
}

.insere-email form button {
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    background-color: #ff0000;
    width: 18%;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes balanco {
    20% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }
}
